<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Audit Logs</title>
  {% if session['dark_mode'] == 'yes' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vertical-layout-light/dark_mode.css') }}">
  {% endif %}
  <!-- base:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/typicons/typicons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vertical-layout-light/style.css') }}">
  <!-- endinject -->
  <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/webp">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
  <script>
      function fetchNotifications() {
        fetch('/notifications')
          .then(response => response.json())
          .then(data => {
            let notificationsDiv = document.getElementById('notification');
            notificationsDiv.innerHTML = ''; // Clear previous notifications

              // Check if data is not empty or does not contain empty strings
              const validNotifications = data.filter(notification => notification.trim() !== '');

              if (validNotifications.length > 0) {
                notificationsDiv.style.display = 'block'; // Show the div if there are valid notifications
                validNotifications.forEach(notification => {
                  let notificationElement = document.createElement('div');
                  notificationElement.textContent = notification;
                  notificationsDiv.appendChild(notificationElement);
                    });

                  // Hide notifications after 5 seconds
                  setTimeout(() => {
                    notificationsDiv.innerHTML = '';
                    notificationsDiv.style.display = 'none'; // Hide the div after 5 seconds
                  }, 5000);

                  // Play notification sound
                  const audio = new Audio('/static/audios/notification sound.mp3');
                  audio.play();
                } else {
                  notificationsDiv.style.display = 'none'; // Hide the div if there are no valid notifications
                }
            })
          .catch(error => console.error('Error fetching notifications:', error));
    }

    setInterval(fetchNotifications, 15000); // Fetch notifications every 15 seconds
    window.onload = fetchNotifications; // Fetch notifications on page load
  </script>
</head>
<body>
  <!-- preloader -->
  <div class="preloader">
    <div class="spinner" id="spinner">0%</div>
  </div>

  <script>
    // hide preloader when document is ready
    jQuery(document).ready(function () {
      // add a delay of 1 second
      setTimeout(function () {
        // fade out the preloader
        jQuery(".preloader").fadeOut("slow");
        // show the hero area
        jQuery(".container-scroller").addClass('visible');
      }, 1000);
    });
  </script>

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="#"><img src="/static/images/logo.png" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="#"><img class="display-picture-logged-in"
              src="data:image/jpeg;base64,{{ dp }}" alt="DP"></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
              <img class="display-picture-logged-in" src="data:image/jpeg;base64,{{ dp }}" alt="DP">
              <span class="nav-profile-name">{{ session['user_message1'] }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{{url_for('managerAccountSetup_route.account_setup_page')}}">
                <i class="typcn typcn-cog-outline text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item" href="{{ url_for('logout') }}">
                <i class="typcn typcn-eject text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          <li class="nav-item nav-user-status dropdown">
            
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
              <i class="typcn typcn-cog-outline mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">User Account</p>
              <a class="dropdown-item preview-item" href="{{url_for('managerAccountSetup_route.account_setup_page')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Settings
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    User account set up
                  </p>
                </div>
              </a>
              {% if session['is_manager'] == 'is_manager' %}
              <a class="dropdown-item preview-item" href="{{url_for('otherUserAccounts_route.view_user_accounts')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Users
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    View other users
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('otherUserAccounts_route.add_new_manager_email')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Add User
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Add User
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('userRights_route.manage_user_rights')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">User rights
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Manage user rights
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('logs_route.view_audit_logs')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Audit logs
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Activities
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('logs_route.view_login_history')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Login history
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Login history
                  </p>
                </div>
              </a>
              {% endif %}
              <a class="dropdown-item preview-item" href="{{ url_for('logout') }}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Log Out
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Log Out
                  </p>
                </div>
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="typcn typcn-th-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <nav class="navbar-breadcrumb col-xl-12 col-12 d-flex flex-row p-0">
      <div class="navbar-links-wrapper d-flex align-items-stretch">
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-calendar-outline"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-mail"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-folder"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-document-text"></i></a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item ml-0">
            <h4 class="mb-0">Audit Logs</h4>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item mr-0">
            <h5 class="mb-0">{{session['user_message2']}} Days left</h5>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          {% if session['account_type'] == 'Property Management' %}
          {% if session['is_manager'] == 'is_manager' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('propertyManagement_route.load_dashboard_page') }}">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          {% endif %}
          {% if session.get('add_properties') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('propertyManagement_route.add_properties') }}" id="add-property">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Add property</span>
              
            </a>
          </li>
          {% endif %}
          {% if session.get('add_tenants') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('propertyManagement_route.add_tenants') }}" id="add-tenant">
              <i class="typcn typcn-film menu-icon"></i>
              <span class="menu-title">Add Tenants</span>
            </a>
            </li>
            {% endif %}
            {% if session.get('add_properties') != 'no' %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('propertyManagement_route.property_expenses') }}" id="add-property">
                <i class="typcn typcn-document-text menu-icon"></i>
                <span class="menu-title">Add Expenses</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('propertyManagement_route.view_property_expenses') }}" id="add-property">
                <i class="typcn typcn-document-text menu-icon"></i>
                <span class="menu-title">View Expenses</span>
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('propertyManagement_route.update_tenant_info') }}">
              <i class="typcn typcn-chart-pie-outline menu-icon"></i>
              <span class="menu-title">Tenants</span>
              
            </a>
          </li>
          {% if session.get('add_properties') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('propertyManagement_route.view_property_info') }}">
              <i class="typcn typcn-th-small-outline menu-icon"></i>
              <span class="menu-title">Properties</span>
              
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('propertyManagement_route.resolve_complaints') }}">
              <i class="typcn typcn-compass menu-icon"></i>
              <span class="menu-title">Complaints</span>
              
            </a>
          </li>
          {% if session.get('manage_contracts') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('propertyManagement_route.manage_contracts') }}">
              <i class="typcn typcn-book menu-icon"></i>
              <span class="menu-title">Contracts</span>
              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('propertyManagement_route.upload_contract_page') }}">
              <i class="typcn typcn-book menu-icon"></i>
              <span class="menu-title">Add Contracts</span>
              
            </a>
          </li>
          {% endif %}
          {% if session['is_manager'] == 'is_manager' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('propertyManagement_route.view_file_passwords') }}">
              <i class="typcn typcn-key menu-icon"></i>
              <span class="menu-title">Passwords</span>
              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('propertyManagement_route.export_tenant_data') }}" id="export">
              <i class="typcn typcn-mortar-board menu-icon"></i>
              <span class="menu-title">Export</span>
            </a>
          </li>
          {% endif %}
          {% endif %}
          
          {% if session['account_type'] == 'Enterprise Resource Planning' %}
          {% if session['is_manager'] == 'is_manager' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stockManagement_route.stock_overview') }}">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          {% endif %}
          {% if session.get('view_stock_info') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stockManagement_route.stock_details') }}">
              <i class="typcn typcn-cloud-storage menu-icon"></i>
              <span class="menu-title">Current Stock</span>
            </a>
          </li>
          {% endif %}
          {% if session.get('view_revenue') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stockManagement_route.revenue_details') }}">
              <i class="typcn typcn-business-card menu-icon"></i>
              <span class="menu-title">Profits</span>
            </a>
          </li>
          {% endif %}
          {% if session.get('view_sales') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stockManagement_route.sales_details') }}">
              <i class="typcn typcn-arrow-sorted-up menu-icon"></i>
              <span class="menu-title">Sales</span>
            </a>
          </li>
          {% endif %}
          {% endif %}
          {% if session['account_type'] == 'Accounting' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('accounting_route.accounts_overview') }}" id="new-stock">
              <i class="typcn typcn-credit-card menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          {% if (session.get('add_new_finance_account') == 'yes') or (session['is_manager'] == 'is_manager') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('accounting_route.new_accounts_page') }}" id="new-stock">
              <i class="typcn typcn-document-add menu-icon"></i>
              <span class="menu-title">New Accounts</span>
            </a>
          </li>
          {% endif %}
          {% if (session.get('update_finance_account') == 'yes') or (session['is_manager'] == 'is_manager') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('accounting_route.update_existing_account') }}" id="update-new-stock">
              <i class="typcn typcn-briefcase menu-icon"></i>
              <span class="menu-title">Update Accounts</span>
            </a>
          </li>
          {% endif %}
          {% if (session.get('view_finance') == 'yes') or (session['is_manager'] == 'is_manager') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('accounting_route.current_accounts') }}" id="update-new-stock">
              <i class="typcn typcn-briefcase menu-icon"></i>
              <span class="menu-title">Current Accounts</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('accounting_route.accounts_history') }}" id="update-new-stock">
              <i class="typcn typcn-briefcase menu-icon"></i>
              <span class="menu-title">Accounts History</span>
            </a>
          </li>
          {% endif %}
          {% endif %}
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div id="notification" class="notification"></div>
        
        <div>
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      <div class="alert {{ 'alert-success' if category == 'success' else 'alert-danger' }}" style="font-weight: bold; margin-bottom: 1rem; text-align: center; font-size: small;">
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
          {% endwith %}
        </div>
        <div class="content-wrapper">
          <form class="dashboard-form-form content-pannel" action="{{url_for('logs_route.download_audit_logs')}}" method="POST">
            <label class="dashboard-form" for="">From</label>
            <input class="dashboard-form" type="date" name="startdate" required>
            <label class="dashboard-form" for="">To</label>
            <input class="dashboard-form" type="date" name="enddate" required>
            <input class="dashboard-form dashboard-form-button" type="submit" class="btn" value="Download">
          </form>
          <div style="width: 100%; height: 100%; overflow: auto;">
            {% if audit_logs %}
            <table class="tenant_table">
                <tr>
                    <th>No.</th>
                    <th>User</th>
                    <th>Activity</th>
                    <th>Detail</th>
                    <th>Time</th>
                </tr>
                {% for log in audit_logs %} 
                <tr style="cursor: pointer;">
                    <td>{{ loop.index }}</td>
                    <td>{{ log.get('user', '') }}</td>
                    <td>{{ log.get('Activity', '') }}</td>
                    <td>{{ log.get('details', '') }}</td>
                    <td>{{ log.get('timestamp', '') }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
                <p>No audit logs available.</p>
            {% endif %}
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                      <p>
                        &copy; <span id="displayYear"></span> All Rights Reserved By
                        <a href="#">Mich Manage</a>
                      </p>
                    </div>
                </div>    
            </div>        
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <script>
    window.onload = function(){
      var date = new Date();
      var day = date.getDate();
      var month = date.getMonth() + 1;
      var year = date.getFullYear();

      if(month < 10) month = "0" + month;
      if(day < 10) day = "0" + day;

      var today = year + "-" + month + "-" + day;

      var startdateFields = document.getElementsByName("startdate");
      for(var i = 0; i < startdateFields.length; i++){
        startdateFields[i].setAttribute("max", today);
      }

      var enddateFields = document.getElementsByName("enddate");
      for(var i = 0; i < enddateFields.length; i++){
        enddateFields[i].setAttribute("max", today);
      }
    }
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Hide all alerts after 5 seconds
        setTimeout(function() {
            var alerts = document.querySelectorAll('.alert');
            alerts.forEach(function(alert) {
                alert.style.display = 'none';
            });
        }, 5000);
    });
  </script>

  <script>
    let counter = 0;
    const spinner = document.getElementById('spinner');

    const intervalId = setInterval(() => {
      counter++;
      spinner.textContent = `${counter}%`;

      if (counter === 100) {
        clearInterval(intervalId);
      }
    }, 100); // Adjust this value to control the speed of the counter
  </script>

  <!-- base:js -->
  <script src="{{ url_for('static', filename='js/vendor.bundle.base.js') }}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{{ url_for('static', filename='js/off-canvas.js') }}"></script>
  <script src="{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
  <script src="{{ url_for('static', filename='js/template.js') }}"></script>
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
  <script src="{{ url_for('static', filename='js/todolist.js') }}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  <!-- End custom js for this page-->
</body>

</html>