<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Documentation</title>


   <!-- bootstrap core css -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

   <!-- fonts style -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
   <!-- Custom styles for this template -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <!-- responsive style -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
   <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/webp">
   <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
</head>

<body class="sub_page">
  <!-- preloader -->
  <div class="preloader">
    <div class="spinner" id="spinner">0%</div>
  </div>

  <script>
    // hide preloader when document is ready
    jQuery(document).ready(function () {
      // add a delay of 1 second
      setTimeout(function () {
        // fade out the preloader
        jQuery(".preloader").fadeOut("slow");
        // show the hero area
        jQuery(".hero_area1").addClass('visible');
      }, 1000);
    });
  </script>

  <div class="hero_area1">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="/static/images/logo.png" alt="" />
          </a>
          <div class="navbar-collapse" id="">
            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
                <a href="{{ url_for('terms_of_service') }}">Terms Of Service</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('contact') }}">Contact Us</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>


  <!-- about section -->

  <section>
    <div class="documentation">
        <h1>User Documentation</h1>

        <div class="doc-section">
            <h3 onclick="toggleContent('menu-content')">User Menu</h3>
            <div id="menu-content" class="content">
                <h4>Accessing Menu Items</h4>
                <p>To open the menu items, click on the icon located in the top right corner of the screen, as indicated by the red arrow in the picture below.</p>
                <img class="menu-image" src="/static/images/documentation/images/menu.png" alt="Menu button">
                <h4>Menu Items</h4>
                <p>The menu list includes the following items: Home, Manager Login, Tenant Login, Manager Sign Up, Tenant Sign Up, Privacy Policy, Terms of Service, About, and Contact Us as shown in the picture below.</p>
                <img class="menu-image" src="/static/images/documentation/images/menu items.png" alt="Menu items">
            </div>
        </div>

        <div class="doc-section">
            <h3 onclick="toggleContent('login-content')">User Login</h3>
            <div id="login-content" class="content">
                <h4>Manager/Landlord Login</h4>
                <p>To log in as a property manager or landlord, click on 'Manager Login' in the menu, as indicated below in the picture.</p>
                <img class="menu-image" src="/static/images/documentation/images/manager login.png" alt="Manager login">
                <p>When 'Manager Login' is clicked, the form below will appear, requiring your username and password. After entering them, click on the login button to continue.</p>
                <img class="menu-image" src="/static/images/documentation/images/manager login page.png" alt="Manager login page">
                <h4>Tenant Login</h4>
                <p>To log in as a tenant, click on 'Tenant Login' in the menu, as indicated below in the picture.</p>
                <img class="menu-image" src="/static/images/documentation/images/tenant login.png" alt="Tenant login">
                <p>When 'Tenant Login' is clicked, the form below will appear, requiring your username and password. After entering them, click on the login button to continue.</p>
                <img class="menu-image" src="/static/images/documentation/images/tenant login page.png" alt="Tenant login page">
            </div>
        </div>

        <div class="doc-section">
            <h3 onclick="toggleContent('registration-content')">User Registration</h3>
            <div id="registration-content" class="content">
                <h4>Manager/Landlord Registration</h4>
                <p>To register an account, click on 'Manager Sign Up' as indicated in the picture below.</p>
                <img class="menu-image" src="/static/images/documentation/images/manager signup.png" alt="Manager signup">
                <p>When 'Manager Sign Up' is clicked, a registration page will be loaded and user can provide the required feedback</p>
                <img class="menu-image" src="/static/images/documentation/images/manager signup page.png" alt="Manager signup page">
                <h4>Tenant Registration</h4>
                <p>To register as a tenant, click on 'Tenant Sign Up' as indicated in the picture below.</p>
                <img class="menu-image" src="/static/images/documentation/images/tenant signup.png" alt="Tenant signup">
                <p>When 'Tenant Sign Up' is clicked, a registration page will be loaded and user can provide the required feedback</p>
                <img class="menu-image" src="/static/images/documentation/images/tenant signup page.png" alt="Tenant signup page">
            </div>
        </div>
        <h2>Property Management</h2>
        <div class="doc-section">
          <h3 onclick="toggleContent('dashboard-content')">Dashboard</h3>
          <div id="dashboard-content" class="content">
              <p>To load the property management dashboard, click on the Overview button in the menu on the left-hand side, as indicated in the picture below.</p>
              <img class="menu-image" src="/static/images/documentation/images/dashboard.png" alt="Dashboard">
              <p>To customize the period of what is viewed on the dashboard, enter the start date and end date, then click on Apply, as indicated by arrows 1, 2, and 3 respectively.</p>
              <img class="menu-image" src="/static/images/documentation/images/customize dashboard.png" alt="Customize Dashboard">
          </div>
      </div>

      <div class="doc-section">
        <h3 onclick="toggleContent('add-property-content')">Add Property</h3>
        <div id="add-property-content" class="content">
            <p>To add properties to be managed on your account, click on the Add Property button in the menu, as indicated in the picture below.</p>
            <img class="menu-image" src="/static/images/documentation/images/add property.png" alt="Add property">
            <p>Fill in all the fields in the property form below, then click on add to submit property information.</p>
            <img class="menu-image" src="/static/images/documentation/images/add property form.png" alt="Add property form">
        </div>
      </div>

      <div class="doc-section">
        <h3 onclick="toggleContent('add-tenant-content')">Add Tenant</h3>
        <div id="add-tenant-content" class="content">
            <p>To add tenant to the properties on your account, click on the Add Tenants button in the menu, as indicated in the picture below.</p>
            <img class="menu-image" src="/static/images/documentation/images/add tenant.png" alt="Add tenant">
            <p>Fill in all the fields in the tenant form below, then click on add to submit tenant information.</p>
            <img class="menu-image" src="/static/images/documentation/images/add tenant form.png" alt="Add tenant form">
        </div>
      </div>

      <div class="doc-section">
        <h3 onclick="toggleContent('tenant-content')">Tenants Information</h3>
        <div id="tenant-content" class="content">
            <p>To view, update, edit, and delete tenant data from your account, click on Tenants, as indicated in the picture below.</p>
            <img class="menu-image" src="/static/images/documentation/images/view tenants.png" alt="View tenants">
            <h4>Sample Tenant Data</h4>
            <img class="menu-image" src="/static/images/documentation/images/tenant data.png" alt="View tenants">
            <h4>Update Tenant Data</h4>
            <p>To update tenant data, such as payments, click anywhere on the tenant. This action will load an update form that needs to be filled out, as indicated in the picture below.</p>
            <img class="menu-image" src="/static/images/documentation/images/update tenant info.png" alt="Update tenant info">
            <h4>Edit Tenant Data</h4>
            <p>To edit tenant data, including payments, click on the edit button indicated by arrow 3 on the tenant row. This action will load an edit form that needs to be filled out, as shown in the pictures below.</p>
            <img class="menu-image" src="/static/images/documentation/images/tenant data.png" alt="Edit tenant info">
            <img class="menu-image" src="/static/images/documentation/images/edit tenant info.png" alt="Edit tenant info">
            <h4>Delete Tenant From Property</h4>
            <p>To delete tenant data from the property, click on the delete button indicated by arrow 4 in the picture below.</p>
            <img class="menu-image" src="/static/images/documentation/images/tenant data.png" alt="Delete tenant">
            <h4>View Rent Payment Receipt</h4>
            <p>To view the payment receipt, click on the view button in the tenant row, as indicated by arrow 2 in the picture below. This action will download a receipt with a scannable QR code.</p>
            <img class="menu-image" src="/static/images/documentation/images/tenant data.png" alt="Payment receipt">
            <h4>Filter Tenants</h4>
            <p>To filter and view specific tenants, type the tenant name in the filter field indicated by arrow 1 in the picture below.</p>
            <img class="menu-image" src="/static/images/documentation/images/tenant data.png" alt="Filter tenants">
        </div>
      </div>

      <div class="doc-section">
        <h3 onclick="toggleContent('property-content')">Property Information</h3>
        <div id="property-content" class="content">
          <p>To view and update property data on your account, click on 'Properties,' as indicated in the picture below.</p>
          <img class="menu-image" src="/static/images/documentation/images/properties.png" alt="View properties">
          <h4>Sample Property Data</h4>
          <img class="menu-image" src="/static/images/documentation/images/property info.png" alt="View tenants">
          <h4>Update Property Data</h4>
          <p>To update property data, such as property value, click anywhere on the property as indicated by the arrow in the picture above. This action will load an update form that needs to be filled out, as shown in the picture below.</p>
          <img class="menu-image" src="/static/images/documentation/images/update property info.png" alt="Update property info">
        </div>
      </div>

      <div class="doc-section">
        <h3 onclick="toggleContent('complaints-content')">Tenant Complaints</h3>
        <div id="complaints-content" class="content">
          <p>To view both resolved and unresolved complaints from tenants, click on Complaints in the menu as indicated in the picture below</p>
          <img class="menu-image" src="/static/images/documentation/images/complaints.png" alt="Complaints">
          <h4>Unresolved Complaints</h4>
          <p>To load unresolved complaints, click on 'Pending' as indicated by arrow 1 in the picture below. Reply to a complaint by filling in your reply and clicking the 'Reply' button indicated by arrow 2. To view replies from both tenants and managers, click on the 'Show Replies' button indicated by arrow 3. If an agreement is reached between the tenant and manager, click on the 'Resolve' button to mark the complaint as resolved. It will then disappear from 'Pending' and move to 'Resolved'.</p>
          <img class="menu-image" src="/static/images/documentation/images/resolve complaints.png" alt="Resolve complaints">
          <h4>Resolved Complaints</h4>
          <p>To view all resolved complaints, click on the 'Resolved' button, as indicated by the arrow in the picture below.</p>
          <img class="menu-image" src="/static/images/documentation/images/resolved complaints.png" alt="Resolved complaints">
        </div>
      </div>

      <div class="doc-section">
        <h3 onclick="toggleContent('contracts-content')">Contracts</h3>
        <div id="contracts-content" class="content">
          <h4>Add Contract</h4>
          <p>To add a contract, click on the add button in the menu as indicated in the first picture below which will load the add contract page to be filled and submitted as indicated in the second picture below.</p>
          <img class="menu-image" src="/static/images/documentation/images/add contracts.png" alt="Add Contract">
          <p>Add contract page</p>
          <img class="menu-image" src="/static/images/documentation/images/add contract page.png" alt="Add Contract">
          <h4>View Contracts</h4>
          <p>To view the contracts signed between the tenant and the property manager or landlord, click on Contracts in the menu as indicated in the picture below</p>
          <img class="menu-image" src="/static/images/documentation/images/contracts.png" alt="Contracts">
          <h4>Update Contract</h4>
          <p>To update a contract, click anywhere on the row for that contract. This action will load the update contract page, as shown in the pictures below.</p>
          <img class="menu-image" src="/static/images/documentation/images/show contracts.png" alt="Update Contract">
          <p>Contract update page</p>
          <img class="menu-image" src="/static/images/documentation/images/update contract.png" alt="Update Contract">
          <h4>Download Contract</h4>
          <p>To download a contract, click on the download button in the row for that contract, as indicated by arrow 1 in the picture below.</p>
          <img class="menu-image" src="/static/images/documentation/images/show contracts.png" alt="Download Contract">
          <h4>Delete Contract</h4>
          <p>To delete a contract, click on the delete button in the row for that contract, as indicated by arrow 2 in the picture below.</p>
          <img class="menu-image" src="/static/images/documentation/images/show contracts.png" alt="Delete Contract">
        </div>
      </div>

      <div class="doc-section">
        <h3 onclick="toggleContent('export-tenant-data-content')">Export Tenant Data</h3>
        <div id="export-tenant-data-content" class="content">
            <p>To export tenant data, click on the export button, as indicated in the picture below.</p>
            <img class="menu-image" src="/static/images/documentation/images/export tenant data.png" alt="Export">
            <p>In the export form, specify the start and end times for the data to be exported. A password-protected Excel file will be downloaded once the export button is clicked.</p>
            <img class="menu-image" src="/static/images/documentation/images/export tenant data form.png" alt="Export tenant data form">
            <p>To view the file password for the exported data, click on 'Passwords,' as indicated in the picture below.</p>
            <img class="menu-image" src="/static/images/documentation/images/file passwords.png" alt="passwords">
            <p>File passwords for the exported data are shown, with arrow 2 indicating a password.</p>
            <img class="menu-image" src="/static/images/documentation/images/file passwords table.png" alt="passwords">
        </div>
      </div>
      <!-- <h2>Resource Planning</h2> -->
      <div class="doc-section">
        <h3 onclick="toggleContent('settings-content')">User Settings</h3>
        <div id="settings-content" class="content">
          <p>To set up your account, click on the display picture icon at the top of the screen, as indicated by arrows 1 and 2.</p>
          <img class="menu-image" src="/static/images/documentation/images/settings.png" alt="Settings">
          <p>A settings page will load where users can set up two-factor authentication, change their name, phone number, address, and profile picture, as shown in the picture below.</p>
          <img class="menu-image" src="/static/images/documentation/images/account setup.png" alt="Settings">
        </div>
      </div>
      <div class="doc-section">
        <h3 onclick="toggleContent('settings-content')">User Settings</h3>
        <div id="settings-content" class="content">
          <p>To set up your account, click on the display picture icon at the top of the screen, as indicated by arrows 1 and 2.</p>
          <img class="menu-image" src="/static/images/documentation/images/settings.png" alt="Settings">
          <p>A settings page will load where users can set up two-factor authentication, change their name, phone number, address, and profile picture, as shown in the picture below.</p>
          <img class="menu-image" src="/static/images/documentation/images/account setup.png" alt="Settings">
        </div>
      </div>

      <div class="doc-section">
        <h3 onclick="toggleContent('users-content')">Users</h3>
        <div id="users-content" class="content">
          <p>To add a new user/manager to your company account, click on 'Add User,' as indicated in the picture below.</p>
          <img class="menu-image" src="/static/images/documentation/images/add users.png" alt="Settings">
          <p>Enter the new user's email in the form below to enable them to create an account.</p>
          <img class="menu-image" src="/static/images/documentation/images/add users page.png" alt="Settings">
          <p>To view other registered users, click on the 'Users' button as indicated in the picture below.</p>
          <img class="menu-image" src="/static/images/documentation/images/other users.png" alt="Users">
        </div>
      </div>

      <div class="doc-section">
        <h3 onclick="toggleContent('user-rights-content')">Manage User Rights</h3>
        <div id="user-rights-content" class="content">
          <p>To manage user rights, click on the 'User Rights' button as indicated in the picture below. This will display all registered users, and you can click on a user to manage their permissions within the system.</p>
          <img class="menu-image" src="/static/images/documentation/images/user rights.png" alt="user rights">
          <p>To assign properties to a user, click on the 'Assign Properties' button as indicated in the picture below.</p>
          <img class="menu-image" src="/static/images/documentation/images/assign properties.png" alt="assign properties">
          <p>To unassign properties from a user, click on the 'Unassign Properties' button as indicated in the picture below.</p>
          <img class="menu-image" src="/static/images/documentation/images/unassign properties.png" alt="unassign properties">
        </div>
      </div>

      <div class="doc-section">
        <h3 onclick="toggleContent('audit-logs-content')">Audit Logs</h3>
        <div id="audit-logs-content" class="content">
          <p>To view system usage activity, click on 'Audit Logs' as indicated in the picture below.</p>
          <img class="menu-image" src="/static/images/documentation/images/audit logs.png" alt="audit logs">
          <p>Audit logs</p>
          <img class="menu-image" src="/static/images/documentation/images/audit logs table.png" alt="audit logs">
        </div>
      </div>

      <div class="doc-section">
        <h3 onclick="toggleContent('login-history-content')">Login History</h3>
        <div id="login-history-content" class="content">
          <p>To view login history, click on 'Login History' as indicated in the picture below.</p>
          <img class="menu-image" src="/static/images/documentation/images/login history.png" alt="login histroy">
          <p>Login history</p>
          <img class="menu-image" src="/static/images/documentation/images/login history table.png" alt="login histroy">
        </div>
      </div>
    </div>
  </section>

  <script>
      function toggleContent(id) {
          const content = document.getElementById(id);
          const isVisible = content.style.display === "block";
          document.querySelectorAll('.content').forEach(div => div.style.display = 'none');
          content.style.display = isVisible ? "none" : "block";
      }
  </script>

  <!-- end about section -->


  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About Mich Manage
            </h5>
            <div>
              <div class="img-box">
                <img src="/static/images/location.png" width="18px" alt="">
              </div>
              <p>
                Kampala, Uganda
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="/static/images/phone.png" width="12px" alt="">
              </div>
              <p>
                +256772726380
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="/static/images/mail.png" width="18px" alt="">
              </div>
              <p>
                michpmts@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Information
            </h5>
            <p>
              Mich Manage Is One Of The Most Trusted Management Systems
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Useful Link
            </h5>
            <ul>
              <li>
                <a href="{{ url_for('index') }}">Home</a>
              </li>
              <li>
                <a href="{{ url_for('about') }}">About</a>
              </li>
              <li>
                <a href="{{url_for('documentation')}}">Documentation</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <div class="social_box">
              <a href="https://wa.me/?text=Faster and secure property management software, visit us on https://michmanage.onrender.com for our services">
                <img class="whatsapp" src="/static/images/whatsapp.png" alt="">
              </a>
              <a href="https://www.linkedin.com/in/micheal-senkasi-846182233?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B4C%2BpIaMvTRSAomy%2BjqXrbQ%3D%3D"">
                <img src="/static/images/linkedin.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="#">Mich Manage</a>
      </p>
    </div>
  </section>
  <!-- end  footer section -->

  <script>
    let counter = 0;
    const spinner = document.getElementById('spinner');
  
    const intervalId = setInterval(() => {
      counter++;
      spinner.textContent = `${counter}%`;
  
      if (counter === 100) {
        clearInterval(intervalId);
      }
    }, 100); // Adjust this value to control the speed of the counter
  </script>
  
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</body>

</html>