<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>User Login Data</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/typicons/typicons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vertical-layout-light/style.css') }}">
  <!-- endinject -->
  <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/webp">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <!-- preloader -->
  <div class="preloader">
    <div class="spinner" id="spinner">0%</div>
  </div>

  <script>
    // hide preloader when document is ready
    jQuery(document).ready(function () {
      // add a delay of 1 second
      setTimeout(function () {
        // fade out the preloader
        jQuery(".preloader").fadeOut("slow");
        // show the hero area
        jQuery(".container-scroller").addClass('visible');
      }, 1000);
    });
  </script>

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="#"><img src="/static/images/logo.png" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="#"><img src="/static/images/logo.png" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
              <img class="display-picture-logged-in" src="data:image/jpeg;base64,{{ dp }}" alt="profile">
              <span class="nav-profile-name">{{ session['user_message1'] }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{{url_for('account_setup_page')}}">
                <i class="typcn typcn-cog-outline text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item" href="{{ url_for('logout') }}">
                <i class="typcn typcn-eject text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          <li class="nav-item nav-user-status dropdown">
            <p class="mb-0">
                Last login was 
                {% if 'time_since_last_login_secs' in session %}
                    {{session['time_since_last_login_secs']}} seconds ago.
                {% elif 'time_since_last_login_mins' in session %}
                    {{session['time_since_last_login_mins']}} minutes ago.
                {% elif 'time_since_last_login_hrs' in session %}
                    {{session['time_since_last_login_hrs']}} hours ago.
                {% elif 'time_since_last_login_days' in session %}
                    {{session['time_since_last_login_days']}} days ago.
                {% elif 'time_since_last_login_weeks' in session %}
                    {{session['time_since_last_login_weeks']}} weeks ago.
                {% elif 'time_since_last_login_months' in session %}
                    {{session['time_since_last_login_months']}} months ago.
                {% else %}
                    {{session['time_since_last_login_years']}} years ago.
                {% endif %}
            </p>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
              <i class="typcn typcn-cog-outline mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">User Account</p>
              <a class="dropdown-item preview-item" href="{{url_for('account_setup_page')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Settings
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    User Login Data
                  </p>
                </div>
              </a>
              {% if session['is_manager'] == 'is_manager' %}
              <a class="dropdown-item preview-item" href="{{url_for('view_user_accounts')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Users
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    View other users
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('add_new_manager_email')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Add User
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Add User
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('manage_user_rights')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">User rights
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Manage user rights
                  </p>
                </div>
              </a>
              {% if session['account_type'] == 'all_accounts' or session['account_type'] == 'Property Management' %}
              <a class="dropdown-item preview-item" href="{{url_for('assign_properties')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Assign properties
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Assign properties to managers
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('unassign_properties')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Unassign properties
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Unassign properties from managers
                  </p>
                </div>
              </a>
              {% endif %}
              <a class="dropdown-item preview-item" href="{{url_for('view_audit_logs')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Audit logs
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Activities
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('view_login_history')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Login history
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Login history
                  </p>
                </div>
              </a>
              {% endif %}
              <a class="dropdown-item preview-item" href="{{ url_for('logout') }}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Log Out
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Log Out
                  </p>
                </div>
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="typcn typcn-th-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <nav class="navbar-breadcrumb col-xl-12 col-12 d-flex flex-row p-0">
      <div class="navbar-links-wrapper d-flex align-items-stretch">
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-calendar-outline"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-mail"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-folder"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-document-text"></i></a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item ml-0">
            <h4 class="mb-0">User Login Data</h4>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item mr-0">
            <h5 class="mb-0">{{session['user_message2']}} Days left</h5>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close typcn typcn-times"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          {% if session['account_type'] == 'Property Management' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('load_dashboard_page') }}">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Overview</span>
              <div class="badge badge-danger">new</div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('update_tenant_info') }}">
              <i class="typcn typcn-chart-pie-outline menu-icon"></i>
              <span class="menu-title">Tenants</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          {% if session.get('add_properties') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_property_info') }}">
              <i class="typcn typcn-th-small-outline menu-icon"></i>
              <span class="menu-title">Properties</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('resolve_complaints') }}">
              <i class="typcn typcn-compass menu-icon"></i>
              <span class="menu-title">Complaints</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          {% if session.get('manage_contracts') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('manage_contracts') }}">
              <i class="typcn typcn-book menu-icon"></i>
              <span class="menu-title">Contracts</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('upload_contract_page') }}">
              <i class="typcn typcn-book menu-icon"></i>
              <span class="menu-title">Add Contracts</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          {% endif %}
          {% if session['is_manager'] == 'is_manager' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_file_passwords') }}">
              <i class="typcn typcn-key menu-icon"></i>
              <span class="menu-title">Passwords</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          {% endif %}
          {% endif %}
          {% if session['account_type'] == 'all_accounts' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('load_dashboard_page') }}">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Property Management</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stock_overview') }}">
              <i class="typcn typcn-book menu-icon"></i>
              <span class="menu-title">Resource Planning</span>
            </a>
          </li>
          {% endif %}
          {% if session['account_type'] == 'Enterprise Resource Planning' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stock_overview') }}">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">ERP Overview</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stock_details') }}">
              <i class="typcn typcn-cloud-storage menu-icon"></i>
              <span class="menu-title">Stock Info</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('revenue_details') }}">
              <i class="typcn typcn-business-card menu-icon"></i>
              <span class="menu-title">Revenues</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sales_details') }}">
              <i class="typcn typcn-arrow-sorted-up menu-icon"></i>
              <span class="menu-title">Sales</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div>
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      <div class="alert {{ 'alert-success' if category == 'success' else 'alert-danger' }}" style="font-weight: bold; margin-bottom: 1rem; text-align: center; font-size: small;">
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
          {% endwith %}
        </div>
        <div class="content-wrapper">
          <form class="dashboard-form-form content-pannel" action="{{url_for('download_login_data')}}" method="POST">
            <label class="dashboard-form" for="">From</label>
            <input class="dashboard-form" type="date" name="startdate" required>
            <label class="dashboard-form" for="">To</label>
            <input class="dashboard-form" type="date" name="enddate" required>
            <input class="dashboard-form dashboard-form-button" type="submit" class="btn" value="Download">
          </form>
          <div style="width: 100%; height: 100%; overflow: auto;">
            {% if logindata %}
            <table class="tenant_table">
                <tr>
                    <th>No.</th>
                    <th>User</th>
                    <th>Time</th>
                </tr>
                {% for login in logindata %} 
                <tr style="cursor: pointer;">
                    <td>{{ loop.index }}</td>
                    <td>{{ login.get('username', '') }}</td>
                    <td>{{ login.get('timestamp', '') }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
                <p>No login information.</p>
            {% endif %}
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                      <p>
                        &copy; <span id="displayYear"></span> All Rights Reserved By
                        <a href="#">Mich Manage</a>
                      </p>
                    </div>
                </div>    
            </div>        
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <script>
    window.onload = function(){
      var date = new Date();
      var day = date.getDate();
      var month = date.getMonth() + 1;
      var year = date.getFullYear();

      if(month < 10) month = "0" + month;
      if(day < 10) day = "0" + day;

      var today = year + "-" + month + "-" + day;

      var startdateFields = document.getElementsByName("startdate");
      for(var i = 0; i < startdateFields.length; i++){
        startdateFields[i].setAttribute("max", today);
      }

      var enddateFields = document.getElementsByName("enddate");
      for(var i = 0; i < enddateFields.length; i++){
        enddateFields[i].setAttribute("max", today);
      }
    }
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Hide all alerts after 5 seconds
        setTimeout(function() {
            var alerts = document.querySelectorAll('.alert');
            alerts.forEach(function(alert) {
                alert.style.display = 'none';
            });
        }, 5000);
    });
  </script>

  <script>
    let counter = 0;
    const spinner = document.getElementById('spinner');

    const intervalId = setInterval(() => {
      counter++;
      spinner.textContent = `${counter}%`;

      if (counter === 100) {
        clearInterval(intervalId);
      }
    }, 100); // Adjust this value to control the speed of the counter
  </script>

  <!-- base:js -->
  <script src="{{ url_for('static', filename='js/vendor.bundle.base.js') }}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{{ url_for('static', filename='js/off-canvas.js') }}"></script>
  <script src="{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
  <script src="{{ url_for('static', filename='js/template.js') }}"></script>
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
  <script src="{{ url_for('static', filename='js/todolist.js') }}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  <!-- End custom js for this page-->
</body>

</html>