<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Chat With Manager</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/typicons/typicons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vertical-layout-light/style.css') }}">
  <!-- endinject -->
  <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/webp">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script>
    function fetchTenantNotifications() {
        fetch('/tenant_popup_notifications')
            .then(response => response.json())
            .then(data => {
                let notificationsDiv = document.getElementById('notification');
                notificationsDiv.innerHTML = ''; // Clear previous notifications

                // Check if data is not empty or does not contain empty strings
                const validNotifications = data.filter(notification => notification.trim() !== '');

                if (validNotifications.length > 0) {
                    notificationsDiv.style.display = 'block'; // Show the div if there are valid notifications
                    validNotifications.forEach(notification => {
                        let notificationElement = document.createElement('div');
                        notificationElement.textContent = notification;
                        notificationsDiv.appendChild(notificationElement);
                    });

                    // Hide notifications after 5 seconds
                    setTimeout(() => {
                        notificationsDiv.innerHTML = '';
                        notificationsDiv.style.display = 'none'; // Hide the div after 5 seconds
                    }, 5000);

                    // Play notification sound
                    const audio = new Audio('/static/audios/notification sound.mp3');
                    audio.play();
                } else {
                    notificationsDiv.style.display = 'none'; // Hide the div if there are no valid notifications
                }
            })
            .catch(error => console.error('Error fetching notifications:', error));
    }

    // Fetch tenant notifications every 15 seconds and on page load
    setInterval(fetchTenantNotifications, 15000);
    window.onload = fetchTenantNotifications;
  </script>
</head>
<body>
  <!-- preloader -->
  <div class="preloader">
    <div class="spinner" id="spinner">0%</div>
  </div>

  <script>
    // hide preloader when document is ready
    jQuery(document).ready(function () {
      // add a delay of 1 second
      setTimeout(function () {
        // fade out the preloader
        jQuery(".preloader").fadeOut("slow");
        // show the hero area
        jQuery(".container-scroller").addClass('visible');
      }, 1000);
    });
  </script>

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="#"><img src="/static/images/logo.png" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="#"><img class="display-picture-logged-in" src="data:image/jpeg;base64,{{ dp }}" alt="profile"></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
              <img class="display-picture-logged-in" src="data:image/jpeg;base64,{{ dp }}" alt="profile">
              <span class="nav-profile-name">{{ session['user_message1'] }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{{url_for('tenant_account_setup_page')}}">
                <i class="typcn typcn-cog-outline text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item" href="{{ url_for('logout') }}">
                <i class="typcn typcn-eject text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          <li class="nav-item nav-user-status dropdown">
            <p class="mb-0">
                <!-- Last login was 
                {% if 'time_since_last_login_secs' in session %}
                    {{session['time_since_last_login_secs']}} seconds ago.
                {% elif 'time_since_last_login_mins' in session %}
                    {{session['time_since_last_login_mins']}} minutes ago.
                {% elif 'time_since_last_login_hrs' in session %}
                    {{session['time_since_last_login_hrs']}} hours ago.
                {% elif 'time_since_last_login_days' in session %}
                    {{session['time_since_last_login_days']}} days ago.
                {% elif 'time_since_last_login_weeks' in session %}
                    {{session['time_since_last_login_weeks']}} weeks ago.
                {% elif 'time_since_last_login_months' in session %}
                    {{session['time_since_last_login_months']}} months ago.
                {% else %}
                    {{session['time_since_last_login_years']}} years ago.
                {% endif %} -->
            </p>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" href="{{ url_for('tenant_notifications') }}">
              <i class="typcn typcn-bell mx-0"></i>
              <span class="count"></span>
            </a>
            <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
              <i class="typcn typcn-cog-outline mx-0"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">User Account</p>
              <a class="dropdown-item preview-item" href="{{url_for('tenant_account_setup_page')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Settings
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    User account set up
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{ url_for('logout') }}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Log Out
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Log Out
                  </p>
                </div>
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="typcn typcn-th-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <nav class="navbar-breadcrumb col-xl-12 col-12 d-flex flex-row p-0">
      <div class="navbar-links-wrapper d-flex align-items-stretch">
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-calendar-outline"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-mail"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-folder"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-document-text"></i></a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item ml-0">
            <h4 class="mb-0">Chat With Your Manager</h4>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item mr-0">
            <!-- <h5 class="mb-0">{{session['user_message2']}} Days left</h5> -->
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tenant_data') }}">
              <i class="typcn typcn-calculator menu-icon"></i>
              <span class="menu-title">Payment Info</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('complaint_form') }}">
              <i class="typcn typcn-message-typing menu-icon"></i>
              <span class="menu-title">Make A Complaint</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('my_complaints') }}">
              <i class="typcn typcn-message menu-icon"></i>
              <span class="menu-title">My Complaints</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div id="notification" class="notification"></div>
        
        <div>
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      <div class="alert {{ 'alert-success' if category == 'success' else 'alert-danger' }}" style="font-weight: bold; margin-bottom: 1rem; text-align: center; font-size: small;">
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
          {% endwith %}
        </div>
        <div class="content-wrapper">
          <div class="content-pannel">
            <div class="complaints">
              {% for complaint in complaints %}
              <form id="myForm_{{ complaint._id }}" class="admin_body" method="POST" action="{{ url_for('tenant_reply_complaint') }}">
                  <div class="complaint-card">
                      <div class="heading-container">
                          <p class="complaint-heading">{{ complaint.complaint_heading }}</p>
                          {% if complaint['status'] == 'seen' %}
                          <span class="seen-status-icon"><i class="fas fa-check-double"></i></span>
                          {% else %}
                          <span class="unseen-status-icon"><i class="fas fa-check"></i></span>
                          {% endif %}
                      </div>
                      <p class="complaint-details">{{ complaint.details }}</p>
                      <div class="complaint-footer">
                          <span class="complaint-date">Filed on {{ complaint.complained_on.strftime('%Y-%m-%d %H:%M') }}</span>
                      </div>
                      <textarea placeholder="Your reply goes here" class="complaint_details_reply" name="Reply_{{ complaint._id }}" required maxlength="100"></textarea>
                      <input type="hidden" class="clientTime" name="client_time">
                      <input type="hidden" class="timeZoneOffset" name="time_zone_offset">
                      <input type="hidden" name="complaint_id" value="{{ complaint._id }}">
                      <input type="submit" value="Reply" style="background:none;border:none;color:blue; width: 60px !important;"><br><br>
                      {% if complaint['image'] %}
                      <img class="complaint-image" src="data:image/jpeg;base64,{{ complaint['image'] }}" alt="Complaint Image"><br><br>
                      {% endif %}
                      <button type="button" id="toggle-replies-btn-{{ complaint._id }}" onclick="toggleReplies('{{ complaint._id }}')">Show Replies</button>
                      <div class="replies-section" id="replies-{{ complaint._id }}" style="display: none;">
                          <h2>Replies</h2>
                          {% for reply in complaint.replies %}
                          <div class="reply {% if reply.who == reply.other %} manager-reply {% else %} user-reply {% endif %}">
                              <div class="heading-container">
                                  {% if reply.who != reply.other %}
                                  <p class="reply-details"><strong>From:</strong> {{ reply.who }} <strong>on:</strong> {{ reply.reply_date }}</p>
                                  {% else %}
                                  <p class="reply-details">{{ reply.reply_date }}</p>
                                  {% endif %}
                                  {% if reply.Reply != 'No reply' %}
                                      {% if reply.who == reply.other %}
                                          {% if reply.status == 'seen' %}
                                              <span class="seen-status-icon"><i class="fas fa-check-double"></i></span>
                                          {% else %}
                                              <span class="unseen-status-icon"><i class="fas fa-check"></i></span>
                                          {% endif %}
                                      {% endif %}
                                  {% endif %}
                              </div>
                              <p class="reply-message">{{ reply.Reply }}</p>
                          </div>
                          {% endfor %}
                      </div>
                  </div>
              </form>
              {% endfor %}
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                      <p>
                        &copy; <span id="displayYear"></span> All Rights Reserved By
                        <a href="#">Mich Manage</a>
                      </p>
                    </div>
                </div>    
            </div>        
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <script>
    function toggleReplies(complaintId) {
        var repliesSection = document.getElementById('replies-' + complaintId);
        var toggleButton = document.getElementById('toggle-replies-btn-' + complaintId);
        if (repliesSection.style.display === "none") {
            repliesSection.style.display = "block";
            toggleButton.textContent = "Hide Replies";
        } else {
            repliesSection.style.display = "none";
            toggleButton.textContent = "Show Replies";
        }
    }
  </script>

  <script>
    $(document).ready(function() {
        // Function to set client time for a specific form
        function setFormTime(formId) {
            let now = new Date();
            let timeZoneOffset = -now.getTimezoneOffset() / 60;
            $(`#${formId} .clientTime`).val(now.toISOString());
            $(`#${formId} .timeZoneOffset`).val(timeZoneOffset);
        }
    
        // Initialize forms on page load
        $('form[id^="myForm_"]').each(function() {
            let formId = $(this).attr('id');
            setFormTime(formId);  // Set client time for each form
        });
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Hide all alerts after 5 seconds
        setTimeout(function() {
            var alerts = document.querySelectorAll('.alert');
            alerts.forEach(function(alert) {
                alert.style.display = 'none';
            });
        }, 5000);
    });
  </script>

  <script>
    let counter = 0;
    const spinner = document.getElementById('spinner');

    const intervalId = setInterval(() => {
      counter++;
      spinner.textContent = `${counter}%`;

      if (counter === 100) {
        clearInterval(intervalId);
      }
    }, 100); // Adjust this value to control the speed of the counter
  </script>

  <!-- base:js -->
  <script src="{{ url_for('static', filename='js/vendor.bundle.base.js') }}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{{ url_for('static', filename='js/off-canvas.js') }}"></script>
  <script src="{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
  <script src="{{ url_for('static', filename='js/template.js') }}"></script>
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
  <script src="{{ url_for('static', filename='js/todolist.js') }}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  <!-- End custom js for this page-->
</body>

</html>