<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Inhouse Production</title>
  {% if session['dark_mode'] == 'yes' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vertical-layout-light/dark_mode.css') }}">
  {% endif %}
  <!-- base:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/typicons/typicons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vertical-layout-light/style.css') }}">
  <!-- endinject -->
  <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/webp">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
  <script>
      // Check for browser notification support
      if ('Notification' in window) {
        // Request permission to display notifications
        Notification.requestPermission().then(permission => {
          if (permission === 'granted') {
            console.log('Notification permission granted.');
          } else {
            console.log('Notification permission denied.');
          }
        });
      }

      async function fetchNotifications() {
        try {
          const response = await fetch('/notifications');
          const data = await response.json();

          let notificationsDiv = document.getElementById('notification');
          notificationsDiv.innerHTML = ''; // Clear previous notifications

          // Check if data is not empty or does not contain empty strings
          const validNotifications = data.filter(notification => notification.trim() !== '');

          if (validNotifications.length > 0) {
            notificationsDiv.style.display = 'block'; // Show the div if there are valid notifications
            validNotifications.forEach(notification => {
              let notificationElement = document.createElement('div');
              notificationElement.textContent = notification;
              notificationsDiv.appendChild(notificationElement);

                  // Display browser notification
                  if (Notification.permission === 'granted') {
                    new Notification('New Notification', {
                      body: notification,
                      icon: '/static/icons/notification_icon.png' // Optional icon
                    });
                  }
                });

              // Hide notifications after 5 seconds
              setTimeout(() => {
                notificationsDiv.innerHTML = '';
                notificationsDiv.style.display = 'none'; // Hide the div after 5 seconds
              }, 5000);

              // Play notification sound
              const audio = new Audio('/static/audios/notification sound.mp3');
              audio.play();
            } else {
              notificationsDiv.style.display = 'none'; // Hide the div if there are no valid notifications
            }
        } catch (error) {
          console.error('Error fetching notifications:', error);
        }
    }

    setInterval(fetchNotifications, 15000); // Fetch notifications every 15 seconds
    window.onload = fetchNotifications; // Fetch notifications on page load
  </script>
</head>
<body>
  <!-- preloader -->
  <div class="preloader">
    <div class="spinner" id="spinner">0%</div>
  </div>

  <script>
    // hide preloader when document is ready
    jQuery(document).ready(function () {
      // add a delay of 1 second
      setTimeout(function () {
        // fade out the preloader
        jQuery(".preloader").fadeOut("slow");
        // show the hero area
        jQuery(".container-scroller").addClass('visible');
      }, 1000);
    });
  </script>

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="#"><img src="/static/images/logo.png" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="#"><img class="display-picture-logged-in"
              src="data:image/jpeg;base64,{{ dp }}" alt="DP"></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
              <img class="display-picture-logged-in" src="data:image/jpeg;base64,{{ dp }}" alt="DP">
              <span class="nav-profile-name">{{ session['user_message1'] }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{{url_for('account_setup_page')}}">
                <i class="typcn typcn-cog-outline text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item" href="{{ url_for('logout') }}">
                <i class="typcn typcn-eject text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          <li class="nav-item nav-user-status dropdown">
            
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
              <i class="typcn typcn-cog-outline mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">User Account</p>
              <a class="dropdown-item preview-item" href="{{url_for('account_setup_page')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Settings
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    User account set up
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('view_user_accounts')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Users
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    View other users
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('add_new_manager_email')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Add User
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Add User
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('manage_user_rights')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">User rights
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Manage user rights
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('view_audit_logs')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Audit logs
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Activities
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('view_login_history')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Login history
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Login history
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{ url_for('logout') }}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Log Out
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Log Out
                  </p>
                </div>
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="typcn typcn-th-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <nav class="navbar-breadcrumb col-xl-12 col-12 d-flex flex-row p-0">
      <div class="navbar-links-wrapper d-flex align-items-stretch">
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-calendar-outline"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-mail"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-folder"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-document-text"></i></a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item ml-0">
            <h4 class="mb-0">Inhouse Production</h4>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item mr-0">
            <h5 class="mb-0">{{session['user_message2']}} Days left</h5>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          {% if session['account_type'] == 'all_accounts' %}
          {% if session['is_manager'] == 'is_manager' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('load_dashboard_page') }}">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Go To Property Mgt</span>
            </a>
          </li>
          {% endif %}
          {% endif %}
          {% if session['is_manager'] == 'is_manager' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stock_overview') }}">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">ERP Overview</span>
            </a>
          </li>
          {% endif %}
          {% if session.get('add_stock') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_new_stock_page') }}" id="new-stock">
              <i class="typcn typcn-document-add menu-icon"></i>
              <span class="menu-title">New Stock</span>
            </a>
          </li>
          {% endif %}
          {% if session.get('update_stock') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('update_existing_stock') }}" id="update-new-stock">
              <i class="typcn typcn-briefcase menu-icon"></i>
              <span class="menu-title">Update Stock</span>
            </a>
          </li>
          {% endif %}
          {% if session.get('update_sales') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('update_sales_page') }}" id="update-sale">
              <i class="typcn typcn-book menu-icon"></i>
              <span class="menu-title">Update Sales</span>
            </a>
          </li>
          {% endif %}
          {% if session.get('inhouse') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('update_production_activity') }}" id="inhouse">
              <i class="typcn typcn-document-add menu-icon"></i>
              <span class="menu-title">Production</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('update_inhouse_use_page') }}" id="inhouse-use">
              <i class="typcn typcn-document-add menu-icon"></i>
              <span class="menu-title">In-House Use</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('inhouse_items_use_details') }}">
              <i class="typcn typcn-calculator menu-icon"></i>
              <span class="menu-title">In-House Info</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_production_info') }}">
              <i class="typcn typcn-calculator menu-icon"></i>
              <span class="menu-title">Production Info</span>
            </a>
          </li>
          {% endif %}
          {% if session.get('view_stock_info') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stock_details') }}">
              <i class="typcn typcn-cloud-storage menu-icon"></i>
              <span class="menu-title">Stock Info</span>
            </a>
          </li>
          {% endif %}
          {% if session.get('view_revenue') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('revenue_details') }}">
              <i class="typcn typcn-business-card menu-icon"></i>
              <span class="menu-title">Sales Revenue</span>
            </a>
          </li>
          {% endif %}
          {% if session.get('view_sales') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sales_details') }}">
              <i class="typcn typcn-arrow-sorted-up menu-icon"></i>
              <span class="menu-title">Sales</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div id="notification" class="notification"></div>
        
        <div>
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      <div class="alert {{ 'alert-success' if category == 'success' else 'alert-danger' }}" style="font-weight: bold; margin-bottom: 1rem; text-align: center; font-size: small;">
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
          {% endwith %}
        </div>

        <div class="inhouse-updates-form content-wrapper" id="stock-form">
          <form id="myForm" class="property_forn content-pannel" action="{{url_for('inhouse')}}" method="POST">
            <label class="input_labels" for="">Product Name</label>
            <input class="property_inputs" type="text" name="product_name">
            <label class="input_labels" for="">Product Quantity</label>
            <input class="property_inputs" type="number" name="product_quantity" min="1">
            <label class="input_labels" for="">Product Price</label>
            <input class="property_inputs" type="number" name="product_price" min="500">
            <label class="input_labels" for="">Item Used</label>
            <select name="inhouse_item" id="item_name_select">
              <option value="" disabled selected>Select item</option>
              {% for item in available_itemNames %}
                <option value="{{ item.itemName }}" 
                        data-available_quantity="{{ item.available_quantity }}" 
                        data-unit_of_measurement="{{ item.unitOfMeasurement }}">
                  {{ item.itemName }}
                </option>
              {% endfor %}
            </select>
            <p id="stock_details"></p> <!-- This will show the stock details dynamically -->
            <label class="input_labels" for="">Quantity Used</label>
            <input class="property_inputs" type="number" name="inhouse_quantity" id="update_sale_quantity" min="1">
            <span id="quantity_warning" style="color: red; display: none;">Can not add item, Quantity used exceeds available stock!</span>
            <label class="input_labels" for="">Date</label>
            <input class="property_inputs" type="date" name="inhouse_date" id="inhouse_date" placeholder="enter start date"><br>
            <button type="button" id="inhouse-button">Add Item</button>
            <input type="submit" id="submit-button" class="btn" value="Submit">
          </form>
        </div>

        <script>
          document.getElementById('item_name_select').addEventListener('change', function() {
            
            var selectedOption = this.options[this.selectedIndex];
            var availableQuantity = selectedOption.getAttribute('data-available_quantity');
            var unitOfMeasurement = selectedOption.getAttribute('data-unit_of_measurement');
            
            var stockDetails = 'Available Quantity: ' + availableQuantity + ' ' + unitOfMeasurement;
            var stockDetailsElement = document.getElementById('stock_details');
            
            stockDetailsElement.innerText = stockDetails;
            stockDetailsElement.style.color = 'green';
          });
        
          document.getElementById('update_sale_quantity').addEventListener('input', function() {
            var selectedOption = document.getElementById('item_name_select').options[document.getElementById('item_name_select').selectedIndex];
            var availableQuantity = parseInt(selectedOption.getAttribute('data-available_quantity'));
            var quantitySold = parseInt(this.value);
            
            var warningMessage = document.getElementById('quantity_warning');
            var addItemButton = document.getElementById('inhouse-button');
            var submitButton = document.getElementById('submit-button');
            
            if (quantitySold > availableQuantity) {
              warningMessage.style.display = 'block';
              addItemButton.disabled = true;
              submitButton.disabled = true;
            } else {
              warningMessage.style.display = 'none';
              addItemButton.disabled = false;
              submitButton.disabled = false;
            }
          });
        
          document.getElementById('inhouse-button').addEventListener('click', function() {
            var addItemButton = document.getElementById('inhouse-button');
            if (addItemButton.disabled) {
              alert('Cannot add item. Quantity used exceeds available stock.');
            }
          });
        </script>        
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                      <p>
                        &copy; <span id="displayYear"></span> All Rights Reserved By
                        <a href="#">Mich Manage</a>
                      </p>
                    </div>
                </div>    
            </div>        
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Hide all alerts after 5 seconds
        setTimeout(function() {
            var alerts = document.querySelectorAll('.alert');
            alerts.forEach(function(alert) {
                alert.style.display = 'none';
            });
        }, 5000);
    });
  </script>

  <script>
    let counter = 0;
    const spinner = document.getElementById('spinner');

    const intervalId = setInterval(() => {
      counter++;
      spinner.textContent = `${counter}%`;

      if (counter === 100) {
        clearInterval(intervalId);
      }
    }, 100); // Adjust this value to control the speed of the counter
  </script>

  <script>
    document.getElementById('end_date').addEventListener('change', function () {
        var startDate = new Date(document.getElementById('start_date').value);
        var endDate = new Date(this.value);
        if (endDate <= startDate) {
            alert("End date should be after start date.");
            this.value = '';
        }
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      let itemsArray = [];

      document.getElementById('inhouse-button').addEventListener('click', () => {
        // Get the form values
        const productName = document.querySelector('input[name="product_name"]').value;
        const productQuantity = document.querySelector('input[name="product_quantity"]').value;
        const productPrice = document.querySelector('input[name="product_price"]').value;
        const itemName = document.querySelector('select[name="inhouse_item"]').value;
        const itemQuantity = document.querySelector('input[name="inhouse_quantity"]').value;
        const useDate = document.querySelector('input[name="inhouse_date"]').value;

        // Check if any of the fields are empty
        if (!productName || !productQuantity || !productPrice || !itemName || !itemQuantity || !useDate) {
          alert("Please fill in all fields before updating a sale.");
          return; // Stop here if any field is empty
        }

        // Create an object with the form data
        const itemObject = {
          productName,
          productQuantity,
          productPrice,
          itemName,
          itemQuantity,
          useDate
        };

        // Add the object to the array
        itemsArray.push(itemObject);       

        // Clear the input fields
        document.querySelector('select[name="inhouse_item"]').selectedIndex = 0;
        document.querySelector('input[name="inhouse_quantity"]').value = '';
      });

      // Handle the form submission
      document.querySelector('.inhouse-updates-form form').addEventListener('submit', (e) => {
        e.preventDefault(); // Prevent the default form submission

        if (itemsArray.length === 0) {
          alert("Please update at least one item.");
          return; // Stop here if no items have been added
        }

        document.querySelector('input[name="product_name"]').value = '';
        document.querySelector('input[name="product_quantity"]').value = '';
        document.querySelector('input[name="product_price"]').value = '';
        document.querySelector('input[name="inhouse_date"]').value = '';

        // Send the itemsArray to your Flask app using fetch or another method
        fetch('{{url_for('inhouse')}}', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ items: itemsArray })
        })
        .then(response => response.json())
        .then(data => {
          // Clear the array after successful submission
          itemsArray = [];
          
          // Optionally, clear all input fields here as well
          if (data.redirect) {
              window.location.href = data.redirect; // Redirect to the new URL
          } else {
              alert(data.message);
          }
          
        })
        .catch((error) => {
          alert("An error occurred while submitting updates.");
        });
      });
    });
  </script>

  <script>
    window.onload = function(){
      var date = new Date();
      var day = date.getDate();
      var month = date.getMonth() + 1;
      var year = date.getFullYear();

      if(month < 10) month = "0" + month;
      if(day < 10) day = "0" + day;

      var today = year + "-" + month + "-" + day;

      var enddateFields = document.getElementsByName("inhouse_date");
      for(var i = 0; i < enddateFields.length; i++){
        enddateFields[i].setAttribute("max", today);
      }

    }
  </script>

  <!-- base:js -->
  <script src="{{ url_for('static', filename='js/vendor.bundle.base.js') }}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{{ url_for('static', filename='js/off-canvas.js') }}"></script>
  <script src="{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
  <script src="{{ url_for('static', filename='js/template.js') }}"></script>
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
  <script src="{{ url_for('static', filename='js/todolist.js') }}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  <!-- End custom js for this page-->
</body>

</html>