<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Manage user rights</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/typicons/typicons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vertical-layout-light/style.css') }}">
  <!-- endinject -->
  <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/webp">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <!-- preloader -->
  <div class="preloader">
    <div class="spinner" id="spinner">0%</div>
  </div>

  <script>
    // hide preloader when document is ready
    jQuery(document).ready(function () {
      // add a delay of 1 second
      setTimeout(function () {
        // fade out the preloader
        jQuery(".preloader").fadeOut("slow");
        // show the hero area
        jQuery(".container-scroller").addClass('visible');
      }, 1000);
    });
  </script>

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="#"><img src="/static/images/logo.png" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="#"><img src="/static/images/logo.png" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
              <img class="display-picture-logged-in" src="data:image/jpeg;base64,{{ dp }}" alt="profile">
              <span class="nav-profile-name">{{ session['user_message1'] }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{{url_for('account_setup_page')}}">
                <i class="typcn typcn-cog-outline text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item" href="{{ url_for('logout') }}">
                <i class="typcn typcn-eject text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          <li class="nav-item nav-user-status dropdown">
            <p class="mb-0">
                Last login was 
                {% if 'time_since_last_login_secs' in session %}
                    {{session['time_since_last_login_secs']}} seconds ago.
                {% elif 'time_since_last_login_mins' in session %}
                    {{session['time_since_last_login_mins']}} minutes ago.
                {% elif 'time_since_last_login_hrs' in session %}
                    {{session['time_since_last_login_hrs']}} hours ago.
                {% elif 'time_since_last_login_days' in session %}
                    {{session['time_since_last_login_days']}} days ago.
                {% elif 'time_since_last_login_weeks' in session %}
                    {{session['time_since_last_login_weeks']}} weeks ago.
                {% elif 'time_since_last_login_months' in session %}
                    {{session['time_since_last_login_months']}} months ago.
                {% else %}
                    {{session['time_since_last_login_years']}} years ago.
                {% endif %}
            </p>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
              <i class="typcn typcn-cog-outline mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">User Account</p>
              <a class="dropdown-item preview-item" href="{{url_for('account_setup_page')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Settings
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    User account set up
                  </p>
                </div>
              </a>
              {% if session['is_manager'] == 'is_manager' %}
              <a class="dropdown-item preview-item" href="{{url_for('view_user_accounts')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Users
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    View other users
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('add_new_manager_email')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Add User
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Add User
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('manage_user_rights')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">User rights
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Manage user rights
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('view_audit_logs')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Audit logs
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Activities
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{{url_for('view_login_history')}}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Login history
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Login history
                  </p>
                </div>
              </a>
              {% endif %}
              <a class="dropdown-item preview-item" href="{{ url_for('logout') }}">
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Log Out
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Log Out
                  </p>
                </div>
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="typcn typcn-th-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <nav class="navbar-breadcrumb col-xl-12 col-12 d-flex flex-row p-0">
      <div class="navbar-links-wrapper d-flex align-items-stretch">
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-calendar-outline"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-mail"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-folder"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-document-text"></i></a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item ml-0">
            <h4 class="mb-0">Manage user rights</h4>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item mr-0">
            <h5 class="mb-0">{{session['user_message2']}} Days left</h5>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close typcn typcn-times"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          {% if session['account_type'] == 'Property Management' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('load_dashboard_page') }}">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Overview</span>
              <div class="badge badge-danger">new</div>
            </a>
          </li>
          {% if session.get('add_properties') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_properties') }}" id="add-property">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Add property</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          {% endif %}
          {% if session.get('add_tenants') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_tenants') }}" id="add-tenant">
              <i class="typcn typcn-film menu-icon"></i>
              <span class="menu-title">Add Tenants</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('update_tenant_info') }}">
              <i class="typcn typcn-chart-pie-outline menu-icon"></i>
              <span class="menu-title">Tenants</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          {% if session.get('add_properties') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_property_info') }}">
              <i class="typcn typcn-th-small-outline menu-icon"></i>
              <span class="menu-title">Properties</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('resolve_complaints') }}">
              <i class="typcn typcn-compass menu-icon"></i>
              <span class="menu-title">Complaints</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          {% if session.get('manage_contracts') != 'no' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('manage_contracts') }}">
              <i class="typcn typcn-book menu-icon"></i>
              <span class="menu-title">Contracts</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('upload_contract_page') }}">
              <i class="typcn typcn-book menu-icon"></i>
              <span class="menu-title">Add Contracts</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          {% endif %}
          {% if session['is_manager'] == 'is_manager' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_file_passwords') }}">
              <i class="typcn typcn-key menu-icon"></i>
              <span class="menu-title">Passwords</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('export_tenant_data') }}" id="export">
              <i class="typcn typcn-mortar-board menu-icon"></i>
              <span class="menu-title">Export</span>
            </a>
          </li>
          {% endif %}
          {% endif %}
          {% if session['account_type'] == 'all_accounts' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('load_dashboard_page') }}">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Property Management</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stock_overview') }}">
              <i class="typcn typcn-book menu-icon"></i>
              <span class="menu-title">Resource Planning</span>
            </a>
          </li>
          {% endif %}
          {% if session['account_type'] == 'Enterprise Resource Planning' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stock_overview') }}">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">ERP Overview</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stock_details') }}">
              <i class="typcn typcn-cloud-storage menu-icon"></i>
              <span class="menu-title">Stock Info</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('revenue_details') }}">
              <i class="typcn typcn-business-card menu-icon"></i>
              <span class="menu-title">Revenues</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sales_details') }}">
              <i class="typcn typcn-arrow-sorted-up menu-icon"></i>
              <span class="menu-title">Sales</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div>
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      <div class="alert {{ 'alert-success' if category == 'success' else 'alert-danger' }}" style="font-weight: bold; margin-bottom: 1rem; text-align: center; font-size: small;">
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
          {% endwith %}
        </div>
        <div class="content-wrapper">
          {% if session['account_type'] == 'Property Management' %}
          <form id="myForm" class="property_forn" action="{{url_for('user_rights_initiated')}}" method="POST">
            <input type="hidden" name="email" value="{{email}}">
            <input type="hidden" name="company_name" value="{{company_name}}">
            <label style="margin-top: 5px;" class="input_labels" for="">Add properties</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch1" onclick="updateHiddenInput1()"><br>
            <input type="hidden" id="hiddenInput1" name="add_properties" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">Add tenants</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch2" onclick="updateHiddenInput2()"><br>
            <input type="hidden" id="hiddenInput2" name="add_tenants" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">Update tenant data</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch3" onclick="updateHiddenInput3()"><br>
            <input type="hidden" id="hiddenInput3" name="update_tenant" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">Edit tenant data</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch4" onclick="updateHiddenInput4()"><br>
            <input type="hidden" id="hiddenInput4" name="edit_tenant" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">Manage contracts</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch5" onclick="updateHiddenInput5()"><br>
            <input type="hidden" id="hiddenInput5" name="manage_contracts" value="no">
            <input required type="submit" class="btn" value="Save">
          </form>
          {% endif %}
          {% if session['account_type'] == 'Enterprise Resource Planning' %}
          <form id="myForm" class="property_forn" action="{{url_for('user_rights_initiated')}}" method="POST">
            <input type="hidden" name="email" value="{{email}}">
            <input type="hidden" name="company_name" value="{{company_name}}">
            <label style="margin-top: 5px;" class="input_labels" for="">Add New Stock</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch6" onclick="updateHiddenInput6()"><br>
            <input type="hidden" id="hiddenInput6" name="add_stock" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">Update Stock</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch7" onclick="updateHiddenInput7()"><br>
            <input type="hidden" id="hiddenInput7" name="update_stock" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">Update Sales</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch8" onclick="updateHiddenInput8()"><br>
            <input type="hidden" id="hiddenInput8" name="update_sales" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">Inhouse Updates</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch9" onclick="updateHiddenInput9()"><br>
            <input type="hidden" id="hiddenInput9" name="inhouse" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">View Stock Info</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch10" onclick="updateHiddenInput10()"><br>
            <input type="hidden" id="hiddenInput10" name="view_stock_info" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">View Revenue</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch11" onclick="updateHiddenInput11()"><br>
            <input type="hidden" id="hiddenInput11" name="view_revenue" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">View Sales</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch12" onclick="updateHiddenInput12()"><br>
            <input type="hidden" id="hiddenInput12" name="view_sales" value="no">
            <input required type="submit" class="btn" value="Save">
          </form>
          {% endif %}
          {% if session['account_type'] == 'all_accounts' %}
          <form id="myForm" class="property_forn" action="{{url_for('user_rights_initiated')}}" method="POST">
            <input type="hidden" name="email" value="{{email}}">
            <input type="hidden" name="company_name" value="{{company_name}}">
            <label style="margin-top: 5px;" class="input_labels" for="">Add properties</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch13" onclick="updateHiddenInput1()"><br>
            <input type="hidden" id="hiddenInput13" name="add_properties" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">Add tenants</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch14" onclick="updateHiddenInput2()"><br>
            <input type="hidden" id="hiddenInput14" name="add_tenants" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">Update tenant data</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch15" onclick="updateHiddenInput3()"><br>
            <input type="hidden" id="hiddenInput15" name="update_tenant" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">Edit tenant data</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch16" onclick="updateHiddenInput4()"><br>
            <input type="hidden" id="hiddenInput16" name="edit_tenant" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">Manage contracts</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch17" onclick="updateHiddenInput5()"><br>
            <input type="hidden" id="hiddenInput17" name="manage_contracts" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">Add New Stock</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch18" onclick="updateHiddenInput6()"><br>
            <input type="hidden" id="hiddenInput18" name="add_stock" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">Update Stock</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch19" onclick="updateHiddenInput7()"><br>
            <input type="hidden" id="hiddenInput19" name="update_stock" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">Update Sales</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch20" onclick="updateHiddenInput8()"><br>
            <input type="hidden" id="hiddenInput20" name="update_sales" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">Inhouse Updates</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch21" onclick="updateHiddenInput9()"><br>
            <input type="hidden" id="hiddenInput21" name="inhouse" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">View Stock Info</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch22" onclick="updateHiddenInput10()"><br>
            <input type="hidden" id="hiddenInput22" name="view_stock_info" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">View Revenue</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch23" onclick="updateHiddenInput11()"><br>
            <input type="hidden" id="hiddenInput23" name="view_revenue" value="no">
            <label style="margin-top: 5px;" class="input_labels" for="">View Sales</label>
            <input style="width: 10%;" class="property_inputs" type="checkbox" id="mySwitch24" onclick="updateHiddenInput12()"><br>
            <input type="hidden" id="hiddenInput24" name="view_sales" value="no">
            <input required type="submit" class="btn" value="Save">
          </form>
          {% endif %}
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                      <p>
                        &copy; <span id="displayYear"></span> All Rights Reserved By
                        <a href="#">Mich Manage</a>
                      </p>
                    </div>
                </div>    
            </div>        
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <script>
    document.getElementById('myForm').addEventListener('submit', function(event) {
        var inputs = document.getElementsByClassName('property_inputs');
        var fileInput = document.getElementById('imageUpload');
        var allEmpty = true;

        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type !== 'file' && inputs[i].value.trim() !== "") {
                allEmpty = false;
                break;
            }
        }

        // Check if a file is selected
        if (fileInput.files.length > 0) {
            allEmpty = false;
        }

        if (allEmpty) {
            alert("All fields are empty. Please fill out at least one field.");
            event.preventDefault();
        } else {
            if (!confirm('Confirm Submission')) {
                event.preventDefault();
            }
        }
    });
  </script>

  <script>
    var data1 = [
      {
        checkbox: document.getElementById("mySwitch1"),
        hiddenInput: document.getElementById("hiddenInput1"),
        value: "{{ add_properties }}"
      },
      {
        checkbox: document.getElementById("mySwitch2"),
        hiddenInput: document.getElementById("hiddenInput2"),
        value: "{{ add_tenants }}"
      },
      {
        checkbox: document.getElementById("mySwitch3"),
        hiddenInput: document.getElementById("hiddenInput3"),
        value: "{{ update_tenant }}"
      },
      {
        checkbox: document.getElementById("mySwitch4"),
        hiddenInput: document.getElementById("hiddenInput4"),
        value: "{{ edit_tenant }}"
      },
      {
        checkbox: document.getElementById("mySwitch5"),
        hiddenInput: document.getElementById("hiddenInput5"),
        value: "{{ manage_contracts }}"
      }
    ];

    data1.forEach(function(item) {
      if (item.value === "yes") {
        item.checkbox.checked = true;
        item.hiddenInput.value = "yes";
      } else {
        item.checkbox.checked = false;
        item.hiddenInput.value = "no";
      }

      item.checkbox.addEventListener('change', function() {
        if (item.checkbox.checked) {
          item.hiddenInput.value = "yes";
        } else {
          item.hiddenInput.value = "no";
        }
      });
    });
  </script>

  <script>
    var data2 = [
      {
        checkbox: document.getElementById("mySwitch6"),
        hiddenInput: document.getElementById("hiddenInput6"),
        value: "{{ add_stock }}"
      },
      {
        checkbox: document.getElementById("mySwitch7"),
        hiddenInput: document.getElementById("hiddenInput7"),
        value: "{{ update_stock }}"
      },
      {
        checkbox: document.getElementById("mySwitch8"),
        hiddenInput: document.getElementById("hiddenInput8"),
        value: "{{ update_sales }}"
      },
      {
        checkbox: document.getElementById("mySwitch9"),
        hiddenInput: document.getElementById("hiddenInput9"),
        value: "{{ inhouse }}"
      },
      {
        checkbox: document.getElementById("mySwitch10"),
        hiddenInput: document.getElementById("hiddenInput10"),
        value: "{{ view_stock_info }}"
      },
      {
        checkbox: document.getElementById("mySwitch11"),
        hiddenInput: document.getElementById("hiddenInput11"),
        value: "{{ view_revenue }}"
      },
      {
        checkbox: document.getElementById("mySwitch12"),
        hiddenInput: document.getElementById("hiddenInput12"),
        value: "{{ view_sales }}"
      }
    ];

    data2.forEach(function(item) {
      if (item.value === "yes") {
        item.checkbox.checked = true;
        item.hiddenInput.value = "yes";
      } else {
        item.checkbox.checked = false;
        item.hiddenInput.value = "no";
      }

      item.checkbox.addEventListener('change', function() {
        if (item.checkbox.checked) {
          item.hiddenInput.value = "yes";
        } else {
          item.hiddenInput.value = "no";
        }
      });
    });
  </script>

  <script>
    var data3 = [
      {
        checkbox: document.getElementById("mySwitch13"),
        hiddenInput: document.getElementById("hiddenInput13"),
        value: "{{ add_properties }}"
      },
      {
        checkbox: document.getElementById("mySwitch14"),
        hiddenInput: document.getElementById("hiddenInput14"),
        value: "{{ add_tenants }}"
      },
      {
        checkbox: document.getElementById("mySwitch15"),
        hiddenInput: document.getElementById("hiddenInput15"),
        value: "{{ update_tenant }}"
      },
      {
        checkbox: document.getElementById("mySwitch16"),
        hiddenInput: document.getElementById("hiddenInput16"),
        value: "{{ edit_tenant }}"
      },
      {
        checkbox: document.getElementById("mySwitch17"),
        hiddenInput: document.getElementById("hiddenInput17"),
        value: "{{ manage_contracts }}"
      },
      {
        checkbox: document.getElementById("mySwitch18"),
        hiddenInput: document.getElementById("hiddenInput18"),
        value: "{{ add_stock }}"
      },
      {
        checkbox: document.getElementById("mySwitch19"),
        hiddenInput: document.getElementById("hiddenInput19"),
        value: "{{ update_stock }}"
      },
      {
        checkbox: document.getElementById("mySwitch20"),
        hiddenInput: document.getElementById("hiddenInput20"),
        value: "{{ update_sales }}"
      },
      {
        checkbox: document.getElementById("mySwitch21"),
        hiddenInput: document.getElementById("hiddenInput21"),
        value: "{{ inhouse }}"
      },
      {
        checkbox: document.getElementById("mySwitch22"),
        hiddenInput: document.getElementById("hiddenInput22"),
        value: "{{ view_stock_info }}"
      },
      {
        checkbox: document.getElementById("mySwitch23"),
        hiddenInput: document.getElementById("hiddenInput23"),
        value: "{{ view_revenue }}"
      },
      {
        checkbox: document.getElementById("mySwitch24"),
        hiddenInput: document.getElementById("hiddenInput24"),
        value: "{{ view_sales }}"
      }
    ];

    data3.forEach(function(item) {
      if (item.value === "yes") {
        item.checkbox.checked = true;
        item.hiddenInput.value = "yes";
      } else {
        item.checkbox.checked = false;
        item.hiddenInput.value = "no";
      }

      item.checkbox.addEventListener('change', function() {
        if (item.checkbox.checked) {
          item.hiddenInput.value = "yes";
        } else {
          item.hiddenInput.value = "no";
        }
      });
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Hide all alerts after 5 seconds
        setTimeout(function() {
            var alerts = document.querySelectorAll('.alert');
            alerts.forEach(function(alert) {
                alert.style.display = 'none';
            });
        }, 5000);
    });
  </script>

  <!-- base:js -->
  <script src="{{ url_for('static', filename='js/vendor.bundle.base.js') }}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{{ url_for('static', filename='js/off-canvas.js') }}"></script>
  <script src="{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
  <script src="{{ url_for('static', filename='js/template.js') }}"></script>
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
  <script src="{{ url_for('static', filename='js/todolist.js') }}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script>
    let counter = 0;
    const spinner = document.getElementById('spinner');
  
    const intervalId = setInterval(() => {
      counter++;
      spinner.textContent = `${counter}%`;
  
      if (counter === 100) {
        clearInterval(intervalId);
      }
    }, 100); // Adjust this value to control the speed of the counter
  </script>
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  <!-- End custom js for this page-->
</body>

</html>