<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Verify Manager Account</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- responsive style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/webp">
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
</head>

<body>
  <!-- preloader -->
  <div class="preloader">
    <div class="spinner" id="spinner">0%</div>
  </div>

  <script>
    // hide preloader when document is ready
    jQuery(document).ready(function () {
      // add a delay of 1 second
      setTimeout(function () {
        // fade out the preloader
        jQuery(".preloader").fadeOut("slow");
        // show the hero area
        jQuery(".hero_area").addClass('visible');
      }, 1000);
    });
  </script>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="/static/images/logo.png" alt="" />
          </a>
          <div class="navbar-collapse" id="">

            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="{{ url_for('index') }}">Home</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <div>
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert {{ 'alert-success' if category == 'success' else 'alert-danger' }}" style="font-weight: bold; margin-bottom: 1rem; text-align: center; font-size: small;">
                      {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
    </div>
    <!-- slider section -->
    <section class="sale_section layout_padding">
      <div class="container-fluid-form">
          <form id="myForm" action="{{url_for('verifying_your_account')}}" method="POST">
              <h3>Verify Your Account</h3>
              {% if session['no_send_emails_code'] %}
              <ul class="code">
                <li tabindex="0" class="digit" title="{{no_send_emails_code}}"><span>Tap To View Code</span></li>
              </ul>
              {% else %}
              <h6>Enter 6 digit code sent to your email</h6>
              {% endif %}
              <label class="input_labels" for="">Email</label>
              <input class="property_inputs" type="email" name="email" required><br>
              <label class="input_labels" for="">Code</label>
              <input class="property_inputs" type="number" name="code" required><br>
              <input required type="submit" class="btn" value="Verify">
          </form>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <script>
    document.getElementById('myForm').addEventListener('submit', function(event) {
        var radios = document.getElementsByTagName('input');
        var allAnswered = true;
        for (var i = 0; i < radios.length; i++) {
            if (radios[i].type === 'radio' && !radios[i].checked) {
                allAnswered = false;
                break;
            }
        }
        if (!allAnswered) {
            if (!confirm('Confirm submission')) {
                event.preventDefault();
            }
        } else {
            if (!confirm('Confirm submission')) {
                event.preventDefault();
            }
        }
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Hide all alerts after 5 seconds
        setTimeout(function() {
            var alerts = document.querySelectorAll('.alert');
            alerts.forEach(function(alert) {
                alert.style.display = 'none';
            });
        }, 5000);
    });
  </script>

  <script type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
  </script>

  <script>
    let counter = 0;
    const spinner = document.getElementById('spinner');

    const intervalId = setInterval(() => {
      counter++;
      spinner.textContent = `${counter}%`;

      if (counter === 100) {
        clearInterval(intervalId);
      }
    }, 100); // Adjust this value to control the speed of the counter
  </script>

  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>

</html>